# Build directories
bin/
obj/

# Visual Studio / Rider cache & user settings
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Temp and build files
build_lite/
build_standalone/
test_run.log


