<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Agilico MSP Toolkit Lite" 
           Manufacturer="Agilico" 
           Version="4.1.0" 
           UpgradeCode="d630aad3-9be4-4417-99af-754932d7093c"
           Scope="perMachine">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Agilico MSP Toolkit Lite is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="AgilicoDir" Name="Agilico">
        <Directory Id="INSTALLFOLDER" Name="Agilico MSP Toolkit Lite" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Agilico" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutableLite" Guid="e630aad3-9be4-4417-99af-754932d7093d">
        <File Id="AgilicoLiteExe" Source="publish_output\Agilico MSP Toolkit Lite.exe" KeyPath="yes" />
        
        <!-- Start Menu Shortcut -->
        <Shortcut Id="ApplicationStartMenuShortcutLite"
                  Directory="ApplicationProgramsFolder"
                  Name="Agilico MSP Toolkit Lite"
                  Description="Agilico Network Diagnostics and MSP Toolkit Lite"
                  WorkingDirectory="INSTALLFOLDER"
                  IconIndex="0"
                  Advertise="yes" />

        <!-- Desktop Shortcut -->
        <Shortcut Id="ApplicationDesktopShortcutLite"
                  Directory="DesktopFolder"
                  Name="Agilico MSP Toolkit Lite"
                  Description="Agilico Network Diagnostics and MSP Toolkit Lite"
                  WorkingDirectory="INSTALLFOLDER"
                  IconIndex="0"
                  Advertise="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProgramMenuComponents" Directory="ApplicationProgramsFolder">
      <Component Id="CleanupShortcutLite" Guid="f630aad3-9be4-4417-99af-754932d7093e">
        <RemoveFolder Id="RemoveApplicationProgramsFolderLite" On="uninstall" />
        <RegistryValue Root="HKMU" Key="Software\Agilico\AgilicoMSPToolkitLite" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <Feature Id="MainFeature" Title="Agilico MSP Toolkit Lite" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProgramMenuComponents" />
    </Feature>
  </Package>
</Wix>
